.selected {
    font-weight: bold;
}

.loading {
    position: absolute;
    left:auto;
    right: auto;
}

.pagesBox {
    display: flex;
    margin: 20px;
    justify-content: center;
}

.pages{
    margin: 10px;
}